h2.intro {
  font-size: 32px;
  color: #7F0C1F  ;
  font-family: sans-serif;
  font-weight: bold;
}

.important {
  font-size: 16px;
  color: blue;
  font-family: sans-serif;
  width: 75%;
}


.unimportant {
  font-size: 16px;
  color: #7F0C1F;
  font-family: sans-serif;
  width: 75%;
}

img.intro {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.text-type {
  font-size: 16px;
  color: green;
  font-family: sans-serif;
  width: 75%;
}

.second-text {
  font-size: 16px;
  color: orange;
  font-family: sans-serif;
  width: 75%;
}
